{% extends 'base.html' %}
{% block title%}Add an Apartment{% endblock %}
{% block content %}
<br/><h1 style="text-align:center">Add an Apartment Unit</h1><br/>
<div class="d-flex justify-content-center">
<form class="text-center" style="width:50%;" method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success btn-block" type="submit" value="submit">Create</button>
</form>
</div>
<script>
  document.getElementById('id_name').className="form-control mb-4"
  document.getElementById('id_address').className="form-control mb-4"
  document.getElementById('id_contact').className="form-control mb-4"
  document.getElementById('id_manager').className="form-control mb-4"
</script>
{% endblock %}
