{% extends 'base.html' %}
{% block title%}Management Companies{% endblock %}
{% block content %}
<br/>
<span style="width:100vw;"><a href="{%url 'manager_create' %}" class="btn btn-primary">Add New Property Manager</a></span>
<div style="margin-top:1.5rem;display:flex;flex-flow:row;flex-wrap:wrap;align-content:space-around;justify-content:space-between;">
{%for manager in managers%}
<div class="card" style="width: 18rem;margin-bottom:5%;">
  <div>
    {%if manager.managerphoto_set.count %}
    <img class="card-img-top" src="{{manager.managerphoto_set.all.0.url}}" width="350" height="200" alt="Photo goes here">
    {%else%}
    <img class="card-img-top" src="http://placehold.it/350x200" alt="Place Holder">
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{manager.name}}</h5>
      <p class="card-text">{{manager.address}}<hr/>{{manager.contact}}</p>
      <a href="{%url 'manager_details' manager.id %}" class="btn btn-primary">See Comments</a>
    </div>
  </div>
 </div>
{%endfor%}
</div>
{% endblock %}