{% extends 'base.html' %}
{% block title%}{{member.name}}{% endblock %}
{% block content %}
<div class="container emp-profile">
   <div class="row">
      <div class="col-md-12 d-flex justify-content-center text-center">
         <div class="profile-head">
            <h1>
               {{member.name}}
            </h1>
            <h4 class="text-dark">
               {{member.bio}}
            </h4>
         </div>
      </div>
      <div class="col-md-2">
      </div>
   </div>
   <div class="col-md-12 d-flex justify-content-center text-center">
      <div class="col-md-6">
         {% if user.id == member.id %}
         <h6><a class="text-dark" href="{%url 'member_edit' member.id %}">Edit Profile</a></h6>
         {%endif%}
         <hr/><br/>
            <h1>My Comments</h1><br/>
            {%for cm in user.unitcomment_set.all%}
            <div class="row">
               <div class="col align-self-center">
                 <div style="text-align: center;border:solid;border-color:silver;">
                   <h3><a href="/units/{{cm.unit.id}}/">{{cm.unit.name}}</a></h3><hr/><h5>{{cm.title}}</h5>
                   {%if cm.rating == 1%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   {%elif cm.rating == 2%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   {%elif cm.rating == 3%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   {%elif cm.rating == 4%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   {%elif cm.rating == 5%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   {%endif%}
                   {{cm.date}}
                   <p>{{cm.content}}</p>
                  </div>
               </div>
             </div>
             <br/>  
            {%endfor%}
            {%for m in user.managercomment_set.all%}
            <div class="row">
               <div class="col align-self-center">
                 <div style="text-align: center;border:solid;border-color:silver;">
                   <h3><a href="/managers/{{m.manager.id}}/">{{m.manager.name}}</a></h3><hr/><h5>{{m.title}}</h5>
                   {%if m.rating == 1%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   {%elif m.rating == 2%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   {%elif m.rating == 3%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   <span class="fa fa-star"></span>
                   {%elif m.rating == 4%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star"></span>
                   {%elif m.rating == 5%}
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   <span class="fa fa-star yes"></span>
                   {%endif%}
                   {{m.date}}
                   <p>{{m.content}}</p>
                  </div>
               </div>
             </div>
             <br/>  
            {%endfor%}
      </div>
   </div>         
</div>
{% endblock %}
