{% extends 'base.html' %}
{% block title%}{{member.name}}{% endblock %}
{% block content %}
<div class="container emp-profile">
   <div class="row">
      <div class="col-md-4">
         <div class="profile-img">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
               
         </div>
      </div>
      <div class="col-md-6">
         <div class="profile-head">
                     <h5>
                           {{member.name}}
                     </h5>
                     <h6>
                           {{member.bio}}
                     </h6>
               <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Lists</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add a List</a>
                  </li>
               </ul>
         </div>
      </div>
      <div class="col-md-2">
         <a class="text-dark" href="{%url 'member_edit' member.id %}">Edit</a>
      </div>
   </div>
   <div class="row">
      <!-- under photo -->
      <div class="col-md-4"></div>
      <div class="col-md-8">
         <div class="tab-content profile-tab" id="myTabContent">
               <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <div class="row">
                  <div class="col-md-6">
                        <a href="#">{{user}}{{manager.name}}</a>
                  </div>
               </div>
               </div>
               <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
               <div class="row">
                  <div class="col-md-6">
                     {%url 'list_create'%}
                  </div>
               </div>
               </div>
         </div>
      </div>
   </div>         
</div>
{% endblock %}
