{% extends 'base.html' %}
{% block title%}Edit my Profile{% endblock %}
{% block content %}
{% if user.id == member.id %}
<br/><h1 style="text-align:center">Edit Profile</h1><br/>
<div class="d-flex justify-content-center">
<form class="text-center" style="width:50%;" method="post" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success btn-block" type="submit" value="submit">Submit</button>
</form>
</div>
<script>
  document.getElementById('id_name').className="form-control mb-4"
  document.getElementById('id_bio').className="form-control mb-4"
  document.getElementById('id_email').className="form-control mb-4"
</script>
{%else%}
<h1 style="text-align:center;">403 Error:<br/> You cannot edit another user's profile</h1>
{%endif%}
{% endblock %}
