{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{% block title %}Home{% endblock title %} | Honest Apartment Testimonies</title>
   </head>
   <body>
      <header>
         <nav>
            <ul>
            {% if user.is_authenticated %}
               <li><a href="{%url 'unit_index'%}">View Apartments</a></li>
               <li><a href="{%url 'manager_index'%}">View Property Managers</a></li>
               <li>My Profile</li>
               <li><a href="{%url 'logout'%}?next=/">Log Out</a></li>
            {% else %}
               <li><a href="{%url 'register'%}">Register</a></li>
               <li><a href="{%url 'login'%}">Log In</a></li>
            {% endif %}
            </ul>
         </nav>
      </header>
      <h1>{%block blah %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
      <footer class="page-footer">
         <div class="right">All Rights Reserved, &copy; {% now "Y" %} Honest Apartment Testimonies &nbsp;</div>
       </footer>
   </body>
</html>