{% extends 'base.html' %}
{% block title%}Home{% endblock %}
{% block content %}
<br/><br/>
<div style="margin-top:1.5rem;display:flex;flex-flow:row;flex-wrap:wrap;justify-content:space-around;">
{%for unit in units%}
<div class="card" style="width: 18rem;">
  <div>
    {%if unit.unitphoto_set.count %}
      <img class="card-img-top" src="{{unit.unitphoto_set.all.0.url}}" width="350" height="200" alt="Photo goes here">
      {%else%}
      <img class="card-img-top" src="http://placehold.it/350x200" alt="Place Holder">
      {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{unit.name}}</h5>
      <p class="card-text">{{unit.address}}<hr/>{{unit.manager.name}}</p>
      <a href="{%url 'unit_details' unit.id %}" class="btn btn-primary">See More</a>
    </div>
  </div>
</div>
{%endfor%}
</div>
{% endblock %}
